/*===================
Blog Styles 
=====================*/

.blog-style--1 {
    position: relative;
    width: 400px;
    height: 517px;

    
    background: #FFFFFF;
    box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.16);
    border-radius: 16px;


    .blogimg-image {
     
        img {
           
            width: 400px;
            height: 294px;
            border-radius: 16px 16px 0px 0px !important; 

        }
    }

    .content {
        position: absolute;
        top: 343px;
        left: 20px;

        @media #{$large-mobile} {
            bottom: 0;
        }

        @media #{$large-mobile} {
            padding: 30px 20px;
        }

        p {
            &.blogtype {
                position: absolute;
                width: 117px;
                height: 24px;


                font-family: 'Mulish';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 179%;
                /* or 25px */

                display: flex;
                align-items: center;

                color: #9C9C9C;
            }
        }

        h4 {
            &.title {
             
                position: absolute;
                width: 354px;
                height: 62px;

                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                /* or 150% */

                display: flex;
                align-items: center;

                color: #000000;
            }
        }

        .blog-btn {
            position: absolute;
            width: 354px;
            height: 61px;
            display: flex;
            align-items: center;
            margin-top: 23px;
           p{
            font-family: 'Sofia Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            /* or 169% */
            
          
            
            color: #494949;
           }

            @media #{$large-mobile} {
                margin-top: 22px;
            }

            @media #{$large-mobile} {
                opacity: 1;
                visibility: visible;
            }
        }
    }

}